@import 'https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400';

$body-font-family: 'Open Sans', Arial, Sans-serif;
$body-font-weight: 400;
$body-font-size: 20px;
$body-line-height: 1.2em;

$heading-font-family: Lato, Lobster, Sans-serif;
$heading-font-weight: 400;
$heading-line-height: 1.4em;


$subheading-font-family: Lato, Lobster, Sans-serif;
$subheading-font-weight: 400;
$subheading-line-height: 2em;
