doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title yoyoboco
    meta(name='application-name', content='yoyoboco')
    meta(name='author', content='marcnewport@gmail.com')
    meta(name='description', content='Melbourne based botanical designer')
    meta(name='keywords', content='yoyoboco, florist, melbourne, botanicals, flowers')
    meta(name='rating', content='General')
    
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet', type='text/css')
  body
    
    
    section#home
      .diagonal
      .container
        h1 yoyoboco
        p
          a(href="mailto:yoyobotanicalco@gmail.com", title="Send mail")
            i.fa.fa-envelope
          a(href="https://www.instagram.com/yoyoboco", target="_blank", title="View instagram feed")
            i.fa.fa-instagram
          //- a(href="", target="_blank")
          //-   i.fa.fa-facebook-square
            
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='js/main.js')
